html {
    box-sizing: border-box;
}

header {
    background: #282c3f;
    padding: 1.25rem;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
}

.sort-and-filter {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.sort-button, .filter-button {
    padding: 0.5rem 3rem;
}


.card {
    margin-top: 3rem;
}

.card-title {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 4rem;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.card-body .ratings {
    margin-left: auto;
}

.american-food-img {
    width: 115%;
}

.chef-stock-image {
    width: 20%;
}

.card-text-one {
    margin-top: 1rem;
}

.card-text {
    flex-basis: 100%;
}

.pricing {
    position: absolute;
    top: 23rem;
    right: 2rem;
}

.reservation-button {
    margin-top: 1rem;
    flex-grow: 1;
}

/* give star ratings an orange color */
.checked {
    color: orange;
}

#navBar {
    margin-top: 2vh;
}

#navBar a {
    color: #282c3f;
}

@media (min-width: 768px) {
    .card {
        width: 40%;
        margin: auto;
        margin-top: 15rem;
    }
}
