html {
    box-sizing: border-box;
}

body {
    background: url("cooking_stock_image.jpg");
    background-size: 90vh;
}
header {
    background: #282c3f;
    padding: 1.25rem;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
}

.book-a-chef {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 12rem;
    gap: 1rem;
}

.book-a-chef a {
    padding: 1rem 0;
    flex-basis: 18rem;
}

.card {
    margin-top: 6rem;
    opacity: .9;
}

.card-title {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 4rem;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.card-body .ratings {
    margin-left: auto;
}

.american-food-img {
    width: 115%;
}

.chef-stock-image {
    width: 20%;
}

.card-text-one {
    margin-top: 1rem;
}

.card-text {
    flex-basis: 100%;
}

.pricing {
    position: absolute;
    top: 23rem;
    right: 2rem;
}

.reservation-button {
    margin-top: 1rem;
    flex-grow: 1;
}

/* give star ratings an orange color */
.checked {
    color: orange;
}

.footer-nav-container {
    margin-top: 5rem;
}

.caramel {
    color: RGB(255,213,154);
    background-color: #7c7f86;
}

@media (min-width: 768px) {
    .card {
        width: 40%;
        margin: auto;
        margin-top: 15rem;
    }
}
